 
 body {background-color: rgba(19, 140, 136, 0.64)}
 
 clearing {
 	clear:both
 }

/**
 * Views Page
 */

.views-img {
	height: auto;
	width: 300px;
	float: left;
	margin-right: 20px
	

}
.views-img img{
	border-radius: 5px;
}	

.views-address{   
	font-family: Lato;
    	font-size: 22px;
    	color: #dc721e;
    	background-color: #eaeaea;
    	border-radius: 10px;
    	font-weight: 300;

}

.views-field-field-monthly-cost	
{


}

.views-am-field{
	margin-top: 20px;
    font-size: 18px;
    color: #404040;
}



.views-rent	{
		line-height: 2.5;
	    color: #eaeaea;
	    font-size: 20px;
	    font-weight: 100;
    font-family: sans-serif;

}

.views-am	{
	margin-top: 10px;

}

views-am-label	{
	
}

.views-desc	{
	color: #eaeaea

}

.views-row 	{
	clear: both
}


/**
 * Nav Bar
 */
 
 .logo img {
	width: 100px;
	height: auto;
 }
 
 .navbar-nav{
 	margin: 38px 0 0 150px
 }
 
 .navbar-nav ul li a: link {
 	color: orange
 
 }


/**
 * Advertise with us page
 */
.page-node-1779			
{
	Text-align: center;
}


.page-node-1779  .page-header	{
display: none

}


.page-node-1779 h2{
    font-size: 30px;
    border: solid 2px;
    padding: 20px;
    /* font-family: lato; */
    color: rgb(10, 103, 138);
    border-radius: 4px;
    margin-bottom: 50px;
    letter-spacing: 3px;
}

.page-node-1779	p
{
	color: #4e4e4e;
	font-size: 16px;
	font-family: inherit;
}


.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #4dafc7;
	display:inline-block;
	cursor:pointer;
	color:#1b8ab3;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:17px 54px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}

.jumbotron	{
padding: 0px;


}

.front #page-header		{
	
	

}

.front #page-header img	{
	max-width:100%

}

.front .navbar 		{
margin-bottom: 0

}

#block-block-1		{
background-image: url(/cms/sites/default/files/banner_0.jpg);
    background-attachment: fixed;
    background-size: contain;
    padding: 120px 0;
        background-repeat: no-repeat;

}

#block-block-1	img	{

	width: 100%
}

#welcome-text		{
	    padding: 10px 20%;
    background-color: rgba(21, 21, 21, 0.79);
    color: #4be4ea;
    border-top: solid;
    border-bottom: solid;
    border-width: 4px;
    border-color: rgb(104, 181, 178);
    border-radius: 10px;

}

#welcome-text h1	{
    font-size: 60px;
    border: solid 1px;
    color: #b3aa9a;
    padding: 15px 0 2px 0;
	

}


#welcome-text p		{
margin: 0 0 10px;
    color: #989691;
    font-size: 16px;
}


.form-search	{margin: 0;
    border: 1px rgb(221, 158, 189) solid;
    padding: 50px 30%;
    background-color: #413138;
    border-top-width: 0;}
    
    
 .navbar-default .navbar-nav > li > a {
    color: #cca22a;
}



.navbar-default .navbar-nav > .active > a	{
background-color: rgba(0,0,0,0);
    color: #e41b64;

}

.navbar-default .navbar-nav > .active > a:hover	{
background-color: rgba(0,0,0,0)

}




/*forms*/


.radio, .checkbox {
    display: inline;
}


.radio, .checkbox {
    position: relative;
    margin-bottom: 10px;
    padding: 20px;
    color: #cab195;
}

.panel-default > .panel-heading {
    color: #6f6967;
    background-color: #eaf0f0;
    border-color: #ececec;
}

.panel-default {
    border-color: rgb(199, 204, 204);
    }

.panel {

	width: 75%;
	margin: 0 auto 10px auto ;
	
}


.page-node-1781		{

	background-color : rgba(223, 232, 232, 0.64);
	color: rgb(121, 166, 169);
}


.page-node-1781	.webform-layout-box.horiz	{
	max-width: 70%;
    	margin: auto

}

.page-node-1781 .webform-layout-box.horiz > *	{

    width: 31%;
}

.page-node-1781 .btn-primary {
 color: #f3f3f3;
    background-color: rgb(77, 202, 202);
    border-color: rgba(125, 5, 103, 0.22);
    margin: 10px auto;
    text-align: center;
    width: 80%;
    display: block;
}

.page-node-1781 .btn-primary:hover	{
	Width:100%;
	background-color: rgb(0, 255, 252);
	transition: 0.1s;
	color: #696969;
    	font-weight: bold;
}


label		{ font-weight: 500}



.webform-component--about-apartment--basic-inf .form-item, .webform-component--about-apartment--basic-info .form-item	{
	width:100% !important;
	margin-bottom: 20px;
}

.radio label, .checkbox label	{
padding-left: 0;
}


.form-item-submitted-about-apartment-basic-info-address	label{
	Width: 100%;
	text-align: center;
}

.form-item-submitted-about-apartment-basic-inf-amenities label	{
	width: 100%;
	text-align: center;
}

.centered		{
width: 100%;
text-align: 100%;

}

.left-align		{
	Text-align: left;
}


.radio label, .checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    text-align: left !important;
    width: initial!important;
	padding: 10px 0px;
}

.webform-component--about-apartment--apartment-payments	{
    margin-top: 25px !important;
    border: solid;
    border-width: 1px;
    padding: 20px;
    margin-bottom: 25px !important;
    border-radius: 5px;
    border-color: #eaf0f0;
    background-color: rgba(220, 197, 174, 0.31);

}

.webform-submit		{

margin-bottom: 150px !important;
    width: 30% !important;
    color: #fefefe !important;
    height: 50px;
	
}

.help-block	{
	text-align: center;
}

.page-node-1780	{

background-color: rgb(255, 251, 240);

}

.page-node-1780	.webform-client-form	{

    width: 40%;
    margin: auto;
    background-color: rgba(202, 179, 117, 0.42);
    padding: 30px;
    border-radius: 50px;
    border-top-color: #d06060;
}

.modal-body {
    position: relative;
    padding: 15px;
    background-color: #ececec;
    color: #83b2c3;
}

.modal-footer	.btn-default	{
    border: 0;
    background: rgb(255, 255, 255);
    color: #bfbfbf;
    text-decoration: underline;
}

.footer-left ul li		{
	

}


.node-type-housing-unit	.flexslider {
    margin: 0;
    padding: 0;
    height: 500px;
    width: 500px;
    
    float: left;
    margin-right: 30px;}
    

.node-type-housing-unit .field-name-field-apartment-serial {
    padding: 20px;
    border: solid;
    border-width: 2px;
    /* border-color: #fff; */
    color: #fbfbfb;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Aguafina Script';
    letter-spacing: 10px;
}	

.node-type-housing-unit .field-name-field-address	{
    font-size: 20px;
    color: #cea735;
    margin-bottom: 20px;
    border: solid;
    border-width: 1px;
    padding: 20px 10px;
    border-radius: 3px;
	
}

.node-type-housing-unit .panel {
    width: 40%;
    margin: 0;
    color: #68b5b2;
}

.group-2		{
	margin: auto !important;
    width: 90% !important;
    border: 0;
    background-color: #ffead1;
}


.field-name-field-monthly-cost, .field-name-field-deposit {
    float: right;
    width: 20%;
    margin: 5%;
    color: #171717;
}

.field-name-field-amenities {
    clear: right;
    padding-top: 20px;
    color: #875d88;
    font-family: Aladin regular !important;
}


.field-name-field-amenities .field-items .field-item{

    float: left;
    margin: 5px 10px;
    padding: 4px 10px;
    border: solid 1px;
    border-radius: 2px;
    color: #717171;
    background: rgba(156, 49, 110, 0.21);
    margin-bottom: 10px;
    text-align: center;

}


.field-name-field-occupancy-{
    padding: 15px;
    clear: right;
    text-align: center;
    border-top: 1px solid #68b5b2;

}

.field-name-field-distance-from-utech, 
.field-name-field-distance-from-uwi	{
	    text-align: center;
    clear: both;
    margin-top: 15px;
    color: #ffead1;
    background: #68b5b2;
    padding: 10px;
    font-family: lato;
    font-size: 18px;
    border-radius: 20px;
}




.field-name-field-rules		{
    padding: 10px;
    color: #656363;
    border-radius: 3px;
    margin: 15px;
    border: 1px solid;
    clear: both;
    margin-top: 140px;

}

.field-name-field-description	{
	text-align: center;
	    border-bottom: 1px solid;
    padding-bottom: 10px;

}

@media (min-width: 768px)
modals.less:140
.modal-dialog {
    width: 600px;
    margin: 30px auto;
}


@media (max-width: 768px)
modals.less:140
.modal-dialog {
    width: 60% !important;
    margin: 30px auto;
}


.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

.region-footer a, .region-footer {
	Color: #eaeaea
}

.panel-default > .panel-heading {
    color: #6f6967;
    background-color: #eaf0f0;
    border-color: #ececec;
    text-align: center;
} 


.views-field-field-view-this img	{
	    width: 130px;
}


@media only screen and (max-width: 768px) {
    .node-type-housing-unit	.flexslider {
        width: 100%;
        height: auto;
        margin-bottom: 40px;
    }
    
    .node-type-housing-unit .panel{
    	width:100%
    }
    
    .field-name-field-monthly-cost, .field-name-field-deposit {
	width: 40%;

}

.page-node-1781 .panel {
      width: 100%;
    
    }
 
 .form-item-submitted-about-apartment-apartment-payments-pictures	{
 	width: 100%;
 }
 
 .page-node-1781 .webform-layout-box.horiz > * {
width: 45%;
    display: block;
    text-align: center;
    margin: auto;}

#edit-submitted-about-apartment-apartment-payments-pictures-ajax-wrapper {
	width: 90%
}

.page-node-1781	.form-item-submitted-contact-information-contact-info-name,
.page-node-1781 .webform-component--contact-information--contact-info--email, 
.page-node-1781 .webform-component-number  {
    max-width: 90%;
}

.webform-component--contact-information--contact-info .webform-layout-box.horiz > * {
    width: 100% !important;
}

.page-node-1780	.webform-client-form {
    width: 100%;
    }

}

.field-name-field-telephone-	{ font-size: 18px; text-align: Center}

